<?xml version="1.0" encoding="utf-8"?> 
<update xmlns="http://ns.adobe.com/air/framework/update/description/2.5">
	<versionNumber>@git.tag@.@git.revision@</versionNumber> 
	<versionLabel>@git.tag@.@git.revision@.@git.revision-total@</versionLabel> 
	<url>http://cloud.github.com/downloads/matthewhare/fsmbuilder/FSMBuilder.air</url>
	<description><![CDATA[@git.description@]]></description> 
</update>